<!doctype html>
<html>
	<head>
	</head>
	<body>
		
		<div>
			<form method="POST" action="/api/meteo">
			
				Adresse : <input type="text" id="address" name="address">
				<br/>
				<input type="submit" value="Envoyer"/>
			</form>
		</div>
		
	</body>
</html>